# Bajar precios desde Yahoo finance

Vanguard Real State ETF
https://finance.yahoo.com/quote/VNQ/chart?p=VNQ

## Requerimientos   
   
    !pip install yfinance
    !pip install yahoofinancials

In [36]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import datetime

In [37]:
# Tomar el dia actual como fecha de fin
end_date = datetime.datetime.today()

vnq_df = yf.download('VNQ',start='2013-01-01' ,end = end_date, progress=False)

In [38]:
vnq_df.tail(10)

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-09-19  80.940002  81.309998  80.480003  80.709999  79.932320  2742500
2023-09-20  81.370003  81.779999  80.769997  80.779999  80.001640  3827800
2023-09-21  80.180000  80.300003  78.000000  78.029999  77.278137  6202200
2023-09-22  78.059998  78.489998  77.379997  77.440002  76.693832  5061200
2023-09-25  77.129997  77.440002  76.790001  77.370003  76.624504  3928200
2023-09-26  76.910004  77.070000  75.690002  75.959999  75.228088  5220800
2023-09-27  76.230003  76.650002  75.050003  75.449997  74.723000  6657600
2023-09-28  75.000000  75.750000  74.849998  75.440002  75.440002  6659600
2023-09-29  76.440002  76.769997  75.220001  75.660004  75.660004  6630100
2023-10-02  75.410004  75.699997  73.800003  74.269997  74.269997  7563874

## Guardar el dataframe a .CSV

In [39]:
vnq_df.to_csv("vnq_data.csv")

TODO: Subir a google cloud con Storage API o gsutil, podemos usar cronjobs

## Redfin Scraper

# !pip install redfin-scraper

    from redfin_scraper import RedfinScraper

    scraper = RedfinScraper()
    properties = scraper.get_properties(city='San Francisco', state='CA', limit=100)